@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

body {
    background-color: whitesmoke;
    font-family: 'Nunito', sans-serif;
}

.start-div {
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: auto;
    border: 1px solid none;
    background-color: lightgray;
    border-radius: 10px;
    width: 300px;
    margin-top: 300px;
    height: 200px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.start-title {
    padding-top: 50px;
    font-size: 40px;
}

.start-button {
    border: none;
    background-color: #333;
    border-radius: 5px;
    padding: 10px;
    font-family: 'Nunito', sans-serif;
    width: 80px;
    color: white;
    transition: .2s ease-in-out;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.start-button:hover {
    transform: scale(1.1);
}